@import 'tailwindcss';

:root {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@layer utilities {
	.svg-clickable {
		@apply w-7 h-7 btn-ghost btn-circle cursor-pointer px-[2px];
	}
}
