@import 'tailwindcss';
@plugin "daisyui";
@plugin "@tailwindcss/typography";

:root {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@layer utilities {
	.svg-clickable {
		@apply w-7 h-7 cursor-pointer px-[2px];
	}
}
